https://dev.dgdp.site {
  tls /root/certs/dev.dgdp.site/cert.pem /root/certs/dev.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

localhost:443 {
  tls self_signed
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

