https://dev.dgdp.site {
  tls /root/certs/dev.dgdp.site/cert.pem /root/certs/dev.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://vpn.dgdp.site {
  tls /root/certs/vpn.dgdp.site/cert.pem /root/certs/vpn.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://olivier.dgdp.site {
  tls /root/certs/olivier.dgdp.site/cert.pem /root/certs/olivier.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://daniel.dgdp.site {
  tls /root/certs/daniel.dgdp.site/cert.pem /root/certs/daniel.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://bonny.dgdp.site {
  tls /root/certs/bonny.dgdp.site/cert.pem /root/certs/bonny.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://saurabh.dgdp.site {
  tls /root/certs/saurabh.dgdp.site/cert.pem /root/certs/saurabh.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://nick.dgdp.site {
  tls /root/certs/nick.dgdp.site/cert.pem /root/certs/nick.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://tolu.dgdp.site {
  tls /root/certs/tolu.dgdp.site/cert.pem /root/certs/tolu.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://nurudeen.dgdp.site {
  tls /root/certs/nurudeen.dgdp.site/cert.pem /root/certs/nurudeen.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://victor.dgdp.site {
  tls /root/certs/victor.dgdp.site/cert.pem /root/certs/victor.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

localhost:443 {
  tls self_signed
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

https://taofeek.dgdp.site {
  tls /root/certs/taofeek.dgdp.site/cert.pem /root/certs/taofeek.dgdp.site/privkey.pem
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}

localhost:443 {
  tls self_signed
  log stdout
  errors stdout
  proxy /packs webpacker:3035 {
    transparent
  }
  proxy /sockjs-node webpacker:3035 {
    transparent
    websocket
  }
  proxy / rails:3000 {
    transparent
  }
}