<div class="container">
  <div class="row justify-content-center">
    <div class="col-4-lg col-12-sm">
      <div class="card card-inverse card-info">
        <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1071254960271175680/Y0XPFHJq.jpg">
        <div class="card-block">
          <figure style="margin-top: -100px; text-align: center;">
            <%= image_tag 'qr1.png',  width: 200, style: "border: 1px solid #DDD;" %>
          </figure>
          <h4 class="card-title" style="text-align: center;">Joseph Contractor</h4>
        </div>
        <div class="card-footer">
          <button class="btn btn-info float-right btn-sm">Contractor</button>
          <p>Access Expires 2019.09.31</p>
          <small>Company: ABC Telecom</small>
        </div>
      </div>
    </div>
  </div>
</div>
