:schedule:
  points_auto_alert:
    cron: '00 9 * * 4 Africa/Lusaka'
    class: PointsAutoAlertJob
    description: "This sends email to clients every Thursday(9am) to get points"
  check_unsubscribed_users:
    cron: '00 0 * * 7 Africa/Lusaka'
    class: CheckUnsubscribedUsersJob
    args: ['Nkwashi']
    description: "This checks users who have unsubscribed from email at end of the week"
  community_post_tags:
    cron: '0 0 * * * Africa/Lusaka'
    class: CommunityPostTagsJob
    args: ['Nkwashi']
    description: "Check if there is new tags in wordpress and update our db"
  post_tags_alert:
    cron: '10 0 * * * Africa/Lusaka'
    class: PostTagsAlertJob
    args: ['Nkwashi']
    description: "Check if there are new posts in wordpress related to the tags user is following"
