
<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <%= form_tag login_sms_path, class: "" do %>
            <div class="row">
              <div class="form-group">
                <label for="phone_number">Login with your phone number</label>
                <%= text_field_tag :phone_number, '', type: "text", class: "form-control", placeholder: "Phone Number" %>
              </div>
            </div>
            <%= submit_tag "Get login code", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Login with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary active", style: "margin-top: 1em;" %>
    </div>
  </div>
</div>
