<div class="row">
  <%= form_tag login_sms_path, class: "col s12" do %>
    <div class="row">
      <div class="input-field col s12">
        <%= text_field_tag :phone_number, '', type: "text", class: "validate", placeholder: "Phone Number" %>
        <label for="phone_number">Phone Number</label>
      </div>
    </div>
    <%= submit_tag "Get login code", class: "btn waves-effect waves-light" %>
  <% end %>

</div>
<div class="row">
  <div class="col s12">
    <%= link_to "Login with Google", user_google_oauth2_omniauth_authorize_path, class: "btn waves-effect waves-light" %>
  </div>
</div>
