/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container {
  padding: 21px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  color: #FFF;
}

.id_card .d-flex {
  margin-bottom: 1em;
}

.id_card_box {
  padding: 2em;
  height: 500px; } 

.id_card_box .member_type {
  font-size: 0.9em;
  color: #666;
}

.log-entry-form .btn {
  margin-top: 1.5em;
}

.id_card_box .last_accessed {
  font-size: 0.9em;
  color: #666;
}

.id_card_box h1{
  margin-top: 1em;
  font-size: 1.25em;
}

.id_card_box .qr_code img {
  max-width: 200px;
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #CCC;
}

.index-cards .card {
  margin: 1em 1em;
  padding: 1em;
  max-width: 200px;
  min-width: 150px;
}

.index-cards a {
  color: #000;
}

.index-cards .oi {
  color: #46ce84;
}
