.mui {
  .group--actions > :last-child {
    display: none
  }

  .group {
    background: white;
    border-left: 2px solid rgb(105, 171, 164);
    border-top: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
  }

  .rule--field {
    input {
      margin-bottom: 5px;
    }
  }

  .rule--widget--TEXT, .rule--widget--NUMBER, .rule--widget--DATE {
    input {
      margin-bottom: 6px;
    }
  }

  .group--conjunctions {
    .MuiButton-containedNeutral {
      color: rgba(0, 0, 0, 0.87);
      background-color: #e0e0e0;
    }
  }
}
