<!DOCTYPE html>
<html>
  <head>
    <title>Offline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      h1, p {
        text-align: center;
      }

      button {
        background-color: #598EC1;
        border: 1px solid #598EC1;
        border-radius: 4px;
        color: #FFFFFF;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        min-width: 215px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1><%= I18n.t('offline') %></h1>
      <br />
      <p><%= I18n.t('internet_off') %></p>
      <br />
      <br />
      <button onclick="reloadPage()"> <%= I18n.t('reload_page') %> </button>
    </div>
  </body>
  <script>
    function reloadPage() {
      return window.location.reload()
    }
  </script>
</html>