
    <nav class="navbar navbar-dark" style="background-color: #46ce84; height: 50px">
      <%- if content_for? :subnav %>
        <ul class="nav navbar-nav navbar-center">
          <li><%= content_for :subnav -%></li>
        </ul>
      <%- else %>
        <ul class="nav navbar-nav navbar-center">
          <li>
          <a href="/">
            <img src="/assets/nkwashi_white_logo_transparent.png" height="25px" alt="nkwashi logo" >
          </a>
          </li>
        </ul>
      <%- end %>
    </nav>
