
    <nav class="navbar navbar-dark" style="background-color: #25c0b0; height: 50px">
      <%- if content_for? :subnav %>
        <ul class="nav navbar-nav navbar-center">
          <li><%= content_for :subnav -%></li>
        </ul>
      <%- else %>
        <ul class="nav navbar-nav navbar-center">
          <li>
          <a href="/">
            <%# image_tag 'nkwashi_white_logo_transparent', {height: '25px'} %>
          </a>
          </li>
        </ul>
      <%- end %>
    </nav>
