<%- content_for :subnav, 'Identity' -%>

<div class="row justify-content-center">
  <div class="card id_card_box col-10 col-sm-10 col-md-6">
    <div class="d-flex justify-content-center">
      <div class="member_type"><%= @member.member_type %></div>
    </div>
    <div class="d-flex justify-content-center">
      <h1><%= @member.user.name %></h1>
    </div>
    <div class="d-flex justify-content-center">
      <%- if @member.expires_at %>
        <div class="expires">Exp: <%= @member.expires_at.strftime("%Y-%m-%d") %></div>
      <%- else %>
        <div class="expires">Exp: Never</div>
      <%- end %>
    </div>

    <div class="d-flex justify-content-center qr_code">
      <%= qrcode_element(@id_card_url) %>
    </div>
  </div>
</div>
